.tagIndex
{
    margin: -8px 0 0 0;
    list-style-type: none
}

.tagIndex span
{
    color: #aaa;
    padding-left: 6px
}

.tagCloud
{
    width:238px
}

.tagCloud
{
    margin: 1em 0;
    padding: .5em 10px;
    text-align: center
}

.tagCloud li
{
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0
}

.tagCloud A
{
    padding: 0 2px;
    text-decoration: none
}

.tagCloud A:hover
{
    color:#00cc00;
    text-decoration:underline
}

.tagCloud A.weight6
{
    color: #ff9900;
    font-size: 1.8em;
    font-weight:bolder
}

.tagCloud A.weight5
{
    color: #4169e1;
    font-size:1.6em;
    font-weight:bolder
}

.tagCloud A.weight4
{
    color: #009eff;
    font-size: 1.4em;
    font-weight:bold
}

.tagCloud A.weight3
{
    color: #4188cf;
    font-size: 1.2em
}

.tagCloud A.weight2
{
    color: #83bcd8;
    font-size: 1.0em
}

.tagCloud A.weight1
{
    color: #83bcd8;
    font-size: .8em
}

.heatMap
{
    border: 0 none;
    color: #333;
    display: block;
    list-style: none outside none;
    margin: 0 0 .5em;
    padding: 0;
    text-decoration: none;
    color: #000;
    margin: 0 0 -6px;
    width: 238px
}

.heatMap a
{
    display: block;
    min-width: 60px;
    margin-right: 50px;
    border: 0 none;
    color: #333;
    display: block;
    margin: 0 25px 0 0;
    padding: 0;
    text-decoration: none;
    width: auto
}

.heatMap li
{
    border: 0 none;
    color: #333;
    display: block;
    margin: 0 0 -3px;
    overflow: visible;
    position: relative;
    text-decoration: none;
    padding: 15px 0 15px 5px
}

.heatMap .txHmTxt
{
    color: #FFF;
    font-weight: bold;
    padding: 0 .2em 0 .2em;
    display: block;
    position: absolute;
    right: -19px;
    text-decoration: none;
    top: 10px
}

.heatMap .txHmTxt a
{
    background-color: #333;
    border: 0;
    color: #FFF;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 0 .2em .2em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap
}

.heatMap .txHmTri
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #333 rgba(0, 0, 0, 0) -moz-use-text-color;
    border-style: solid solid none;
    border-width: 9px 9px 0 0;
    color: #333;
    display: block;
    height: 0;
    margin: 0 auto;
    width: 0
}